.classes_mil{
    width: 100%;
    height: 100px;
    background-color: #463D3F;
}

.period_mil_info{
    padding: 20px 0px;
    margin: 0px 20px;
    border-bottom: 1px solid rgb(223,223,223);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.classes_mil{
    color:#D5D0D2;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.percent_mil_1{
    width: 45%;
}

.mil_percentage{
    width: 100%;
    height: 5px;
    background-color: #7E7778;
}

.real_percentage{
    background-color: #FBF2E4;
    width: 28%;
    height: 5px;
    position: relative;
}


.percent_mil_text{
    display: flex;
    justify-content: space-between;
    margin: 17.5px 0px;
}

.real_percentage > span{
    position: absolute;
    left: 28%;
    margin-top: 5px;
    font-size: 12.5px;
}

.real_percentage_1{
    background-color: #FBF2E4;
    width: 21%; 
    height: 5px;
    position: relative;
}

.real_percentage_1 > span{
    position: absolute;
    left: 21%;
    margin-top: 5px;
    font-size: 12.5px;
}