.percent {
    width: 100%;
    height: 110px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #53494B;
    color: white;
    font-weight: bold;
}

.percent__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.percent__percentage{
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #7E7778;
}

.percent__percentage__value{
    height: 20px;
    background-color: #90C8B1;
    position: absolute;
    top: 0;
    left: 0;
}

.percent__percentage > span{
    text-align: center;
    position: absolute;
    transform: translate(-55%, 150%);
    color:#90C8B1;
    font-weight: 500;
    font-size: 12.5px;
    text-overflow: clip;
}.percent {
    width: 100%;
    height: 110px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #53494B;
    color: white;
    font-weight: bold;
}

.percent__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.percent__percentage{
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #7E7778;
}

.percent__percentage__value{
    height: 20px;
    background-color: #90C8B1;
    position: absolute;
    top: 0;
    left: 0;
}

.percent__percentage > span{
    text-align: center;
    position: absolute;
    transform: translate(-55%, 150%);
    color:#90C8B1;
    font-weight: 500;
    font-size: 12.5px;
    text-overflow: clip;
}