@import url("css/status-bar.css");
@import url("css/profile-bar.css");
@import url("css/d-day.css");
@import url("css/d-day_percentage.css");
@import url("css/class_percentage.css");

body {
    margin-left: 33%;
    width: 33%;
}

img {
    width: 33%;
    height: 33%;
}

.hidden{
    display: none;
}

.bold{
    font-weight: bold;
    color:#D9D2D5;
}