body{
    margin-left: 33%;
    width: 33%;
}

.status-bar{
    display:flex;
    justify-content: space-between;
}

img{
    width: 33%;
    height: 33%;
}

.profile-bar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.profile-bar__info{
    margin-bottom: 10px;
    font-size: 26px;
}

.profile-bar__info__name{
    font-weight: bold;
}